lg/credential_email.py
lg/settings.py
media/idcard/*
media/ics/*
__pycache__/*
company/__pycache__/*
accountant/__pycache__/*
agenda/__pycache__/*
address/__pycache__/*
customuser/__pycache__/*
db.sqlite3
lg/__pycache__/*
simulation/__pycache__/*
tools/__pycache__/*

