Django>=2.0.2
django-hijack
django-hijack-admin
django-extensions
jupyter
django-debug-toolbar
django-bootstrap4
django-view-breadcrumbs
#redis>=2.10.3
pip>=9.0.1
#django-celery==3.3.0
selenium
django-simple-captcha
django-anymail[amazon_ses]
beautifulsoup4>=4.6.0
requests>=2.22.0
django-localflavor
django-vies
django-phonenumber-field
phonenumbers
reportlab
#celery
django-countries
icalendar
django-timezone-field
django-wkhtmltopdf
django-crontab
