{% extends "base2.html" %}
{% load i18n %}
{% block content %}

<div class="step login pad-top">
    <div class="content">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">{% trans "Your username and password didn't match. Please try again" %}.
        </div>
        <p></p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <div class="alert alert-danger" role="alert">{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access" %}.
        </div>
        {% endif %}
        {% endif %}

        <h2>{% trans "Sign in" %} </h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="input-icon2">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <input name="{{form.username.name}}" placeholder="email" type="text" class="connect">
            </div>

            <div class="input-icon2">
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
                <input name="{{form.password.name}}" placeholder="password" type="password" class="connect">
            </div>


            <div class="row-submit">
                <a href="{% url 'password_reset' %}" class="">{% trans "Forgot password" %}?</a>
                <input id="submit" name="submit" type="submit" class="btn-round black" value="{% trans " CONNEXION" %}"
                />
                <input type="hidden" name="next" value="/"/>
            </div> <!-- form-group// -->

        </form>
    </div>
</div>
{% endblock content %}
