{% extends 'base2.html' %}
{% load i18n %}
{% block content %}

<div class="step login pad-top">
    <div class="content">
        <h2>{% trans 'Password reset' %} !</h2>

        <p>{% trans "Nous vous avons envoyé un email contenant des instructions pour définir un nouveau mot de passe. Si
            un compte existe avec l’e-mail que vous avez saisi, vous devriez le recevoir sous peu." %}</p>
        <p>{% trans "Si vous ne recevez pas l’e-mail, assurez-vous d’avoir entré correctement votre adresse et vérifiez
            votre dossier de courrier indésirable." %}</p>
        <p>Si le problème persiste contactez-nous à l’adresse <a href="mailto:info@lieutenantguillaume.com">info@lieutenantguillaume.com</a>
        </p>
        <p class="text-center"><a href="/" class="btn-round black">{% trans 'Log in' %}</a></p>
    </div>
</div>

{% endblock %}
