{% load i18n %}{% autoescape off %}
{% blocktrans %}Vous recevez cet e-mail car vous avez demandé la réinitialisation du mot de passe de votre compte d utilisateur du site %(site_name).{% endblocktrans %}.

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}A bientôt chez LG et Associates{% endblocktrans %}

{% endautoescape %}