{% extends "base.html" %}
{% load bootstrap4 static i18n hijack_tags common_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block css %}
<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/fullcalendar.min.css' rel='stylesheet' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<style>
.fc-event{
    cursor: pointer;
}
</style>
{% endblock %}

{% block js %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js'></script>-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/fullcalendar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.1/locale/fr.js'></script>
<script>

var csrftoken = $("[name=csrfmiddlewaretoken]").val();


$(function(){
    $('#calendar').fullCalendar({
      themeSystem: 'bootstrap4',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      views: {
        month: { // name of view
            timeFormat: 'H:mm'
        }
      },
      firstDay:1,
      weekNumbers: false,
      //selectable: true,
      editable: false,
      allDaySlot:false,
      eventLimit: true, // allow "more" link when too many events
      {% if object_list %}
            events: {{object_list|safe}},
      {% else %}  
      events: [
        { id:"1",
          title: 'Meeting',
          start: '2019-12-12T10:30:00',
          end: '2019-12-12T11:30:00',
          color: '#FF88FF'
        },
        { id:"2",
          title: 'Meeting',
          start: '2019-12-12T11:30:00',
          end: '2019-12-12T12:30:00',
          color: 'green'
        }
      ],
      {% endif %}
      eventClick: function (calEvent) {
            $('#id_slot').val(calEvent.id);
            var url = '/agenda/ajax/s/get/' + calEvent.id + '/';
            $.ajax({
                url: url,
                type: 'POST',
                headers:{"X-CSRFToken": csrftoken},
                traditional: true,
                dataType: 'json',
                success: function(result){
                    if (result['return']){
                        $('#id_date').val(result['slot']['date']);
                        $('#id_start_time').val(result['slot']['start']);
                        if (result['slot']['booked'] ){
                          $('#id_last_name').val(result['slot']['last_name']);
                          $('#id_first_name').val(result['slot']['first_name']);
                          $('#id_email').val(result['slot']['email']);
                          $('#id_telephone').val(result['slot']['telephone']);
                          $('#id_informations').val(result['slot']['informations']);
                        }
                        $('#bookingslot').show();
                    }
                    else{
                        $('#confirm2').show();
                    }
                }
            });
        }
    });

    function clean_modal(){
        $('#id_slot').val("0");
        $('#id_patient').val("0");
        $('#id_date').val("");
        $('#id_start').val("");
        $('#id_email').val("");
        $('#id_first_name').val("");
        $('#id_last_name').val("");
        $('#id_telephone').val("");
        $('#id_informations').val("");
    }

    $('#bookingslot_cancel').click(function(){
        $('#bookingslot').hide();
        clean_modal();
    });

    $('#bookingslot_close').click(function(){
        $('#bookingslot').hide();
        clean_modal();
    });

    $('#bookingslot_submit').click(function(){
        var form = $('#form_bookingslot');
        var id = $('#id_slot').val();
        var url = '/agenda/ajax/s/book/' + id + '/';
        $.ajax({
            url: url,
            type: 'POST',
            headers:{"X-CSRFToken": csrftoken},
            data: form.serialize(),
            traditional: true,
            dataType: 'json',
            success: function(result){
                $('#bookingslot').hide();
                clean_modal();
                if (result['return']){
                    $('#calendar').fullCalendar( 'removeEvents', id );
                    $('#calendar').fullCalendar('addEventSource', [result['slot']]);
                    $('#confirm_yes').show();
                }
                else{
                    $('#confirm2').show();
                }
            }
        });
    });
    $('#bookingslot_remove').click(function(){
        var id = $('#id_slot').val();
        var url = '/agenda/ajax/s/remove/' + id + '/';
        $.ajax({
            url: url,
            type: 'POST',
            data: '',
            traditional: true,
            dataType: 'json',
            success: function(result){
                if (result['return']){
                    $('#calendar').fullCalendar( 'removeEvents', id );
                    $('#bookingslot').hide();
                    clean_modal();
                    $('#confirm_yes').show();
                }
                else{
                    $('#confirm_no_error').val(result['errors']);
                    $('#confirm_no').show();
                }
            }
        });
    });

    $('#bookingslot_clean').click(function(){
        var id = $('#id_slot').val();
        var url = '/agenda/ajax/s/clean/' + id + '/';
        $.ajax({
            url: url,
            type: 'POST',
            data: '',
            traditional: true,
            dataType: 'json',
            success: function(result){
                if (result['return']){
                    $('#calendar').fullCalendar( 'removeEvents', id );
                    $('#calendar').fullCalendar('addEventSource', [result['slot']]);
                    $('#bookingslot').hide();
                    clean_modal();
                    $('#confirm_yes').show();
                }
                else{
                    $('#confirm_no_error').val(result['errors']);
                    $('#confirm_no').show();
                }
            }
        });
    });
    $('#confirm2_close').click(function(){
        $('#confirm2').hide();
    });

    $('#confirm2_ok').click(function(){
        $('#confirm2').hide();
    });
});
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p style="text-align:center;"><h2>{% trans "Calendrier" %}</h2><p>
  </div>
</div>
<div id="calendar"></div>
<div class="row text-center" style="margin-top:20px;">
    <ul class="legend">
    {% for c in doctor.colorslots.all %}
        <li><span style="background-color: {{c.free_slot_color}};"></span>
            {% if user.userprofile == doctor %}
                <span style="background-color: {{c.booked_slot_color}};"></span>
            {% else %}
                {% if doctor.view_busy_slot %}
                    <span style="background-color: {{c.booked_slot_color}};"></span>
                {% endif %}
            {% endif %}
            {{ c.SLOT_TYPE|index:c.slot}}</li>
     {% endfor %}
     </ul>
</div>
<!-- Modal -->
<div id="bookingslot" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Book a slot" %}</h5>
        <button type="button" id="bookingslot_close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>if you confirm, we will send you an email with an icalendar attachment</p>
        <form name="form_bookingslot" id="form_bookingslot">
           <div class="container-fluid">
          <input id="id_slot" name="slot" type="hidden" value="0">
          <input id="id_patient" name="patient" type="hidden" value="0">
          <div class="row form-group">
            <label class="col-md-4 control-label text-right" for="id_date">{% trans "Date" %} :</label>
            <div class="col-md-8 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              </div>
              <input id="id_date" name="date" type="text" class="form-control" disabled>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label text-right" for="id_start_time">{% trans "Start time" %} :</label>
            <div class="col-md-8 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-clock" aria-hidden="true"></i></span>
              </div>
              <input id="id_start_time" name="start_time" type="text" class="form-control" disabled>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-4 control-label text-right" for="id_informations">{% trans "Informations" %} :</label>
            <div class="col-md-8 input-group"><textarea id="id_informations" name="informations" class="form-control" rows="3"></textarea></div>
          </div>
        </form>
      </div>
        <div class="modal-footer">
          {% if user.is_staff or user.is_superuser %}
          <span class="pull-left">
            <button id="bookingslot_remove" type="submit" class="btn btn-danger" data-dismiss="modal">{% trans "Remove" %}</button>
            <button id="bookingslot_clean" type="submit" class="btn btn-danger" data-dismiss="modal">{% trans "Clean" %}</button>
          </span>
          {% endif %}
          <button id="bookingslot_submit" type="submit" class="btn btn-primary" data-dismiss="modal">{% trans "Confirm" %}</button>
          <button id="bookingslot_cancel" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="confirm2" class="modal" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="confirm2_close" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans "Already Booked" %}</h4>
      </div>
      <div class="modal-body">
      {% trans "This slot is already booked !" %}
      </div>
        <div class="modal-footer">
          <button id="confirm2_ok" type="submit" class="btn btn-primary" data-dismiss="modal">{% trans "Ok" %}</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}