{% extends "base.html" %}
{% load bootstrap4 static i18n hijack_tags common_tags %}
{% block content %}
{% if not user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 pad-top step step-1">
            <div class="content">
                <h2><span class="step-number">01</span>{% trans "Je réalise ma simulation" %}</h2>
                <p class="intro">{% trans "En 1 minute estimez le prix personnalisé de votre abonnement au sein de notre cabinet. Pour réaliser votre simulation rien de plus simple !"%}
                <p class="intro2">{% trans "Il suffit de cliquer sur le bouton ci-dessous, puis laissez-vous guider par les champs à remplir." %}</p>
                <p class="intro3">{% trans "Une fois votre simulation effectuée connectez-vous pour pouvoir prendre un RDV avec notre équipe." %}</p>
                <a id="subscribe" name="subscribe" class="btn-round" href="{% url 'simulation:simulation_add' %}">
                    {% trans "Simulation" %} <span class="fa fa-arrow-right"></span></a>
            </div>
        </div>

        <div class="col-lg-6 pad-top step step-2">
            <div class="content">
                <h2><span class="step-number green">02</span>{% trans "Je me connecte" %}</h2>
                <div class="">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="input-icon">
                            <div class="icon">
                                <i class="fa fa-user" style="color:black"></i>
                            </div>
                            <input name="username" placeholder="email" type="text" class="connect">
                        </div>

                        <div class="input-icon">
                            <div class="icon">
                                <i class="fa fa-lock" style="color:black"></i>
                            </div>
                            <input name="password" placeholder="password" type="password" class="connect">
                        </div>

                        <div class="row-submit">
                            <a href="{% url 'password_reset' %}">{% trans "mot de passe oublié" %}?</a>
                            <input id="submit" name="submit" type="submit" class="btn-round" value="{% trans "Connexion" %}" />
                            <input type="hidden" name="next" value="/"/>
                        </div> <!-- form-group// -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-5">
        Vous êtes connecté
    </div>
</div>
{% endif %}
{% endblock content %}
