{% extends "base.html" %}
{% load bootstrap4 static i18n hijack_tags common_tags %}
{% block content %}
{% if not user.is_authenticated %}
<div class="row">
	<div class="col-sm-5">
		<div class="card text-center">
			<div class="card-header">Sign In</div>
			<div class="card-body d-flex flex-column justify-content-between">
				<form method="post" action="{% url 'login' %}">
					{% csrf_token %}
					<div class="form-group">
						<div class="input-group">
					    <div class="input-group-prepend">
							    <span class="input-group-text"><span class="fa fa-user"></span></span>
							 </div>
							<input name="username" class="form-control" placeholder="email" type="text">
						</div> <!-- input-group.// -->
					</div> <!-- form-group// -->

					<div class="form-group card-text">
						<div class="input-group">
					    <div class="input-group-prepend">
							    <span class="input-group-text"><span class="fa fa-lock"></span></span>
							 </div>
						    <input name="password" class="form-control" placeholder="******" type="password">
						</div> <!-- input-group.// -->
					</div> <!-- form-group// -->
					<div class="form-group text-center">
						<input type="submit" class="btn btn-primary btn-block" value="login" />
					  <input type="hidden" name="next" value="/" />
					</div> <!-- form-group// -->
					<p class="text-center"><a href="{% url 'password_reset' %}" class="btn">{% trans "Forgot password" %}?</a></p>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="card text-center">
			<div class="card-header">Sign Up</div>
			<div class="card-body d-flex flex-column justify-content-between">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p class="card-text"><a id="subscribe" name="subscribe" class="btn btn-primary"  href="{% url 'customuser:customuser_add' %}"><span class="fa fa-sign-in"></span> Subscribe</a></p>
				<p class="card-text"> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
			</div>	
		</div>
	</div>
</div>
{% else %}
<div class="row">
	<div class="col-sm-5">
		Vous êtes connecté
	</div>
</div>
{% endif %}
{% endblock content %}