{% extends "base2.html" %}
{% load bootstrap4 static i18n hijack_tags common_tags %}
{% block content %}
<div class=" step company pad-top marg-top">
    <div class="container">
        <div class="step-head">
            <h2>{{model|verbose_name }}</h2>
        </div>
        <div class=" row mt-1">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <td>{% trans "Company" %}</td>
                    <td>{% trans "Name" %}</td>
                    <td>{% trans "Simulation" %}</td>
                    <td>{% trans "Status" %}</td>
                    <td>{% trans "actions" %}</td>
                </tr>
                </thead>
                <tbody>
                {% for obj, users_list in object_list %}
                <tr>
                    <td>
                        {{ obj }}
                        {% if obj.get_empty_fields %}
                        <span class="fa fa-warning" title="Missing fields : {{obj.get_empty_fields}}"
                              style="color:red"></span>
                        {% else %}
                        <span class="fa fa-check" style="color:green"></span>
                        {% endif %}
                        <a class="btn btn-default" style="border:solid 1px black" href="{{obj.get_absolute_url}}"><span
                                class="fa fa-edit"></span></a>

                    </td>
                    <td>
                        {% for user in users_list %}
                        {{user.first_name}} {{user.last_name}}
                        <a href="mailto:{{user.email}}">({{user.email}})</a>
                        {% if user.get_empty_fields %}
                        <span class="fa fa-warning" title="Missing fields : {{user.get_empty_fields}}"
                              style="color:red"></span>
                        {% else %}
                        <span class="fa fa-check" style="color:green"></span>
                        {% endif %}
                        <a class="btn btn-default" style="border:solid 1px black" href="{{user.get_absolute_url}}"><span
                                class="fa fa-edit"></span></a>

                        {% endfor %}

                    </td>
                    <td>
                        Proposal ( {{obj.get_simulation_price}} €)
                        <a class="btn btn-default" style="border:solid 1px black"
                           href="{% url 'company:company_proposal_change' obj.pk %}"><span
                                class="fa fa-edit"></span></a>
                    </td>
                    <td><span class="btn fa"> {{ obj.get_subscription_status_display}}</span></td>
                    <td>
                        <a class="btn btn-default" title="send proposal by mail"
                           href="{% url 'company:company_proposal_send' obj.pk %}" style="border:solid 1px black"><span
                                class="fa fa-send"></span></a>
                        <a class="btn btn-default" title="run sync with softwares"
                           href="{% url 'company:company_go' obj.pk %}" style="border:solid 1px black"><span
                                class="fa fa-cogs"></span></a>
                        <a class="btn confirmation" href="{{obj.get_delete_url}}" style="border:solid 1px black"><span
                                class="fa fa-trash"></span></a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No objects yet.</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_paginated %}
        <div class=" row justify-content-center mt-1">
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">
                            <span>First</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span>Previous</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span>First</span>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span>Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for page in paginator.page_range %}
                    <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span>Next</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ paginator.num_pages }}">
                            <span>Last</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span>Next</span>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span>Last</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endif %}
{% endblock content %}
