{% extends "base2.html" %}
{% load bootstrap4 static i18n %}

{% block content %}
<div class="pad-top">
    <div class="container marg-top">
        <div class="step-head">
            {% if title %}
            <h2><span class="step-number">04</span>{{title}}</h2>
            {% endif %}
            {% if detail %}
            <p>{{detail}}</p>
            {% endif %}
        </div>
        {%if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <p>{{field}} : {{error}}</p>
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="reset-bootstrap">
                {% bootstrap_form form layout='horizontal' %}
                <div class="form-group row adapt-bootstrap">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        {% buttons %}
                        <button name="submit" id="submit" type="submit" class="btn-round black">{% trans "Valider" %}</button>
                        <a href="{% url 'home' %}" name="back" id="back" class="btn-round white">{% trans "Back" %}</a>
                        {% endbuttons %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <img src="{% static 'assets/img/update.jpg' %}" alt="">
</div>

{% endblock %}
