{% extends "base2.html" %}
{% load bootstrap4 i18n %}
{% block content %}
<div class="pad-top step step-3 simulation">
    <div class="container marg-top">
        <h4 class="">Proposal for {{object.enterprise_name}} ({{object.enterprise_number}})</h4>
        <hr>
        <form method="post" enctype="multipart/form-data">
            <div class="reset-bootstrap">
                {% bootstrap_form SimulationForm layout='horizontal' %}
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <div class="form-group row adapt-bootstrap">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        {% buttons %}
                        <button name="submit" id="submit" type="submit" class="btn-round">{% trans "Save" %}</button>
                        <a href="{% url 'company:company_proposal_list' %}" name="back" id="back"
                           class="btn-round white">{% trans "Back" %}</a>
                        {% endbuttons %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endblock content %}
