{% extends "base2.html" %}
{% load bootstrap4 i18n %}
{% block content %}
    <div class="container marg-top">
        <div class="step-head">
            <h2><span class="step-number">03</span>{{title}}</h2>
            {% if detail %}
            <p>{{detail}}</p>
            {% endif %}
        </div>
        <p class="text-success text-center"></p>
        <form id="form_simulation" method="post" enctype="multipart/form-data">
            {% if not update %}
            {% csrf_token %}
            {% endif %}
            <div class="reset-bootstrap">
                {% bootstrap_form form layout='horizontal' %}
            </div>
            {% if update %}
            <div class="form-group row">
                <div class="col-md-12 alert alert-primary simulation-resultat" role="alert">{% trans "Résultat de la simulation" %}
                    <div class="price"><span>{{object.calculated_amount}}</span> {% trans "euros par mois" %}</div>
                </div>
            </div>
            <div class="form-group row adapt-bootstrap simulation-btns">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <a class="btn-round" href="{% url 'simulation:simulation_add' %}">{% trans "Lancer une nouvelle simulation" %}</a>
                    <a class="btn-round blue" href="{% url 'simulation:simulation_add' %}?simulation_id={{object.pk}}">
                        {% trans "Modifier la simulation" %}
                    </a>
                </div>
            </div>
            <div class="form-group row adapt-bootstrap simulation-send">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <div>
                        <div class="input-group">
                            <input name="emailSendSimulation" id="emailSendSimulation" type="text" class="form-control"
                                   placeholder="{% trans 'mon adresse email' %}"
                                   aria-label="{% trans 'mon adresse email' %}">
                            <div class="input-group-append">
                                <button class="btn-round blue right" type="button" onclick="sendSimulationMail();">
                                    {% trans "Recevoir ma simulation par email" %}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="simulation_sent" style="display: none;">
                        <div class='alert alert-success mt-2' data-alert>{% trans "Simulation envoyée !" %}</div>
                    </div>
                    <div id="simulation_error" classe="mt-2" style="display: none;">
                        <div class='alert alert-danger mt-2' data-alert>{% trans "Erreur avec l'adresse email" %}</div>
                    </div>
                </div>
                <script>
                        function sendSimulationMail() {
                            var mydata = {'email':$('#emailSendSimulation').val(), 'pk':"{{object.pk}}", 'csrfmiddlewaretoken': '{{ csrf_token }}'};
                            var url = '/simulation/ajax/send_mail/' ;
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: mydata,
                                traditional: true,
                                dataType: 'json',
                                success: function(result){
                                    if (result['return']){
                                        $('#simulation_sent').fadeIn('slow').delay('3000').fadeOut('slow');
                                    }
                                    else{
                                        $('#simulation_error').fadeIn('slow').delay('3000').fadeOut('slow');
                                    }
                                }
                            });
                        }

                </script>
            </div>
            <div class="simulation-register">
                <p>
                    {% trans "Je m’enregistre pour pouvoir prendre rendez-vous" %}
                </p>
                <a class="btn-round black" href="{% url 'customuser:customuser_add' %}?simulation_id={{object.pk}}">
                    {% trans "Je m’enregistre" %}
                </a>
            </div>
            {% else %}
            <div class="form-group row simulation-send adapt-bootstrap">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button onclick="run_simulation()" class="btn-round black">{% trans "Run simulation" %}</button>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
