{% extends "base2.html" %}
{% load bootstrap4 i18n static %}
{% block content %}
<div class="step company pad-top marg-top">
    <div class="container">
        <article class="">
            <div class="step-head">
                <h2>{{title}}</h2>
                {% if detail %}
                <p>{{detail}}</p>
                {% endif %}
            </div>
            <p class="text-success text-center"></p>
            <form method="post" enctype="multipart/form-data">
                <div class="reset-bootstrap">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label"> IBAN</label>
                        <div class="col-md-9">
                            <table class="table table-iban">
                                {{ ibans.management_form }}
                                {% for form in ibans.forms %}
                                <tr class="{% cycle row1 row2 %} formset_row">
                                    {% for field in form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                        {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {% bootstrap_field field show_label=False %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            {% buttons %}
                            <button name="submit" id="submit" type="submit" class="btn-round">{% trans "Valider" %}
                            </button>
                            <a href="{% url 'home' %}" name="back" id="back" class="btn-round white">
                                {% trans "Back" %}
                            </a>
                            {% endbuttons %}
                        </div>
                    </div>
                </div>

            </form>
        </article>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: '{{ add_iban }}',
        deleteText: '{{ delete_iban }}'
        /*prefix: 'iban_set'*/
    });

</script>
{% endblock %}
