{% load i18n %}
<html>
    <head>
    </head>
    <body>
        <header>
            <table width="100%;">
                <tr>
                    <td width="50%"><img src="http://www.lieutenantguillaume.com/static/img/logo_lieutenant_guillaume.png"
                                         style="vertical-align: top;"></td>
                    <td width="50%">
                        <span class="me">Cabinet de Comptables Fiscalistes Agréés</span><br>
                        <span class="me">LG & Associates</span><br>
                        <span class="me">Membres IPCF 70483836</span><br>
                        <span class="me">Av. Reine Marie-Henriette,29 à 1190 Forest</span><br>
                        <span class="me">info@lieutenantguillaume.com</span><br>
                        <span class="me">T +322 512 08 15</span><br>
                        <span class="me">www.lieutenantguillaume.com</span><br>
                        <span class="me">TVA: BE0454.784.696</span>
                    </td>
                </tr>
            </table>
        </header>
        <content>
            {% block content %} {% endblock content %}
            <p></p>
            <p>{% blocktrans %}A bientôt chez LG et Associates{% endblocktrans %}</p>
        </content>
    </body>
</html>

