{% autoescape off %}
<html>
<head></head>
<body>
<p>Bonjour,</p>
<p></p>
<p>Vous venez d’effectuer votre simulation personnalisée*</p> 
<p>Vous pouvez la retrouver à tous moments en cliquant sur le lien suivant :</p>
<p></p>
<p><a href="{{ url_simulation }}">{{ url_simulation }}</a></p>
<p></p>
<p>Vous voulez en savoir plus ou souhaitez rejoindre notre cabinet ? </p>
<p>Prenez un rendez-vous gratuit avec un de nos collaborateurs. </p>
<p>Pour cela enregistrez-vous en cliquant sur le lien suivant : </p>
<p></p>
<p><a href="{{ url_register }}">{{ url_register }}</a></p>
<p></p>
<p>En tant qu’entrepreneur nous savons que votre temps est compté. C’est pourquoi les rendez-vous sont aussi disponibles
    en visioconférence. </p>
<p></p>
<p>A bientôt chez LG et Associates</p>
<p></p>
<p>*Il s’agit bien d’une simulation et non d’un devis. Pour connaître le montant exact de votre futur abonnement, vous
    devez vous connecter sur votre espace et renseigner quelques champs obligatoires. </p>
</body>
</html>
{% endautoescape %}