{% extends "mail/canvas.html" %}
{% load i18n %}
{% block content %}
{% autoescape off %}
<p>{% trans "Cher/Chère" %} {{ user.first_name }},</p>
<p></p>
<p>{% blocktrans %}Votre enregistrement est maintenant terminé{% endblocktrans %}.</p>
<p>{% blocktrans %}Il reste une dernière étape à compléter avant de pouvoir accéder à votre compte{% endblocktrans %}.</p>
<p>{% blocktrans %}Cliquez sur le lien suivant{% endblocktrans %}:</p>
<p><a href="http://{{ domain }}{% url 'customuser:activate' uidb64=uid token=token %}">http://{{ domain }}{% url 'customuser:activate' uidb64=uid token=token %}</a></p>
{% endautoescape %}
{% endblock %}
