{% extends "mail/canvas.html" %}
{% load i18n %}
{% block content %}
{% autoescape off %}
<p>{% trans "Cher/Chère" %} {{ user.first_name }},</p>

<p>{% blocktrans %}Veuillez trouver ici notre offre finale en cliquant sur le lien{% endblocktrans %} : http://{{ domain }}{% url 'company:company_proposal_pdf' pk=company.id token=token_company %}
</p>
<p></p>
<p>{% blocktrans %}Cliquez sur le lien pour donner votre accord et terminer votre enregistrement{% endblocktrans %} : http://{{ domain }}{% url 'company:confirm_proposal' pk=company.pk uidb64=uid token=token %}</p>
<p></p>
<p>http://{{ domain }}</p>
{% endautoescape %}
{% endblock %}
