{% load i18n %}{% autoescape off %}
<html>
<head></head>
<body>
<header>
    <table width="100%;">
        <tr>
            <td width="60%"><img src="http://www.lieutenantguillaume.com/static/img/logo_lieutenant_guillaume.png"
                                 style="vertical-align: top;"></td>
            <td width="40%">
                <p class="me">Cabinet de Comptables Fiscalistes Agréés</p>
                <p class="me">LG & Associates</p>
                <p class="me">Membres IPCF 70483836</p>
                <p class="me">Av. Reine Marie-Henriette,29 à 1190 Forest</p>
                <p class="me">info@lieutenantguillaume.com</p>
                <p class="me">T +322 512 08 15</p>
                <p class="me">www.lieutenantguillaume.com</p>
                <p class="me">TVA: BE0454.784.696</p>
            </td>
        </tr>
    </table>
</header>
<p>{% trans "Cher/Chère" %} {{ user.first_name }},</p>
<p></p>
<p>{% blocktrans %}Votre enregistrement est maintenant terminé{% endblocktrans %}</p>
<p>{% blocktrans %}Il reste une dernière étape à compléter avant de pouvoir accéder à votre compte{% endblocktrans %}.</p>
<p>{% blocktrans %}Cliquez sur le lien suivant{% endblocktrans %}:</p>
<p><a href="http://{{ domain }}{% url 'customuser:activate' uidb64=uid token=token %}">http://{{ domain }}{% url 'customuser:activate' uidb64=uid token=token %}</a></p>
<p></p>
<p>{% blocktrans %}A bientôt chez LG et Associates{% endblocktrans %}</p>
</body>
</html>
{% endautoescape %}
