{% load i18n %}
{% autoescape off %}
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>{% trans "Cher/Chère" %} {{ user.first_name }},</p>
<p></p>
<p>{% blocktrans %}Nous avons bien reçu les documents signés.{% endblocktrans %}.</p>
<p></p>
<p>{% blocktrans %}Nous vous remercions pour votre confiance et sommes heureux de vous compter parmi nos clients Entrepreneurs{% endblocktrans %}.</p>
<p></p>
<p>http://{{ domain }}</p>
<p></p>
<p>{% blocktrans %}A bientôt chez LG et Associates{% endblocktrans %}</p>
</body>
</html>
{% endautoescape %}
