{% load i18n %}{% autoescape off %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <table width="100%;">
        <tr>
            <td width="60%"><img src="http://www.lieutenantguillaume.com/static/img/logo_lieutenant_guillaume.png"
                                 style="vertical-align: top;"></td>
            <td width="40%">
                <p class="me">Cabinet de Comptables Fiscalistes Agréés</p>
                <p class="me">LG & Associates</p>
                <p class="me">Membres IPCF 70483836</p>
                <p class="me">Av. Reine Marie-Henriette,29 à 1190 Forest</p>
                <p class="me">info@lieutenantguillaume.com</p>
                <p class="me">T +322 512 08 15</p>
                <p class="me">www.lieutenantguillaume.com</p>
                <p class="me">TVA: BE0454.784.696</p>
            </td>
        </tr>
    </table>
</header>
<p>{% trans "Bonjour" %},</p>
<p></p>
<p>{% blocktrans %}Le compte de {{c}} est entièrement complété{% endblocktrans %}.</p>
<p></p>
<p>{% blocktrans %}Prendre contact avec lui pour la suite de la procédure{% endblocktrans %}.</p>
<p></p>
<p><a href="http://{{ domain }}">http://{{ domain }}</a></p>
<p></p>
<p>{% blocktrans %}A bientôt chez LG et Associates{% endblocktrans %}</p>
</body>
</html>
{% endautoescape %}