{% load i18n %}
{% autoescape off %}
<html>
<head></head>
<body>
<p>{% trans "Cher/Chère" %} {{ user.first_name }},</p>

<p>{% blocktrans %}Veuillez trouver ici notre offre finale en cliquan sur le lien{% endblocktrans %} : http://{{ domain }}{% url 'company:company_proposal_pdf' pk=company.id token=token_company %}
</p>
<p></p>
<p>{% blocktrans %}Cliquez sur le lien pour donner votre accord et terminer votre enregistrement{% endblocktrans %} : http://{{ domain }}{% url 'company:confirm_proposal'
    pk=company.pk uidb64=uid token=token %}</p>
<p></p>
<p>http://{{ domain }}</p>
<p></p>
<p>{% blocktrans %}A bientôt chez LG et Associates{% endblocktrans %}</p>
</body>
</html>
