{% load i18n %}{% autoescape off %}
<html>
<head></head>
<body>
<header>
    <table width="100%;">
        <tr>
            <td width="60%"><img src="http://www.lieutenantguillaume.com/static/img/logo_lieutenant_guillaume.png"
                                 style="vertical-align: top;"></td>
            <td width="40%">
                <p class="me">Cabinet de Comptables Fiscalistes Agréés</p>
                <p class="me">LG & Associates</p>
                <p class="me">Membres IPCF 70483836</p>
                <p class="me">Av. Reine Marie-Henriette,29 à 1190 Forest</p>
                <p class="me">info@lieutenantguillaume.com</p>
                <p class="me">T +322 512 08 15</p>
                <p class="me">www.lieutenantguillaume.com</p>
                <p class="me">TVA: BE0454.784.696</p>
            </td>
        </tr>
    </table>
</header>
<p>{% trans "Cher/Chère" %} {{ user.first_name }},</p>

<p>{% blocktrans %}Veuillez trouver ici notre offre finale en cliquant sur le lien{% endblocktrans %} : http://{{ domain }}{% url 'company:company_proposal_pdf' pk=company.id token=token_company %}
</p>
<p></p>
<p>{% blocktrans %}Cliquez sur le lien pour donner votre accord et terminer votre enregistrement{% endblocktrans %} : http://{{ domain }}{% url 'company:confirm_proposal' pk=company.pk uidb64=uid token=token %}</p>
<p></p>
<p>http://{{ domain }}</p>
<p></p>
<p>{% blocktrans %}A bientôt chez LG et Associates{% endblocktrans %}</p>
</body>
</html>
{% endautoescape %}
