{% extends "mail/canvas.html" %}
{% load i18n %}
{% block content %}
{% autoescape off %}
<p>{% trans "Cher/Chère" %} {{ user.first_name }},</p>
<p></p>
<p>{% blocktrans %}Vous avez accepté l'offre finale et nous vous en remercions{% endblocktrans %}.</p>
<p></p>
<p>{% blocktrans %}Avant de commencer notre mission, il ne vous reste plus qu'à signer nos différents documents administratifs pour être en ordre avec la législation.{% endblocktrans %}.</p>
<p></p>
<p>http://{{ domain }}</p>
{% endautoescape %}
{% endblock %}
